Search term: <input type="text" name="" [(ngModel)]="searchTerm"> <!--dodato za unos pipe-a-->

<table class="table table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let contact of contacts | filter:searchTerm">
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email | uppercase | lowercase }}</td>
      <td>
          <button
              class="btn btn-danger"
              (click)="removeContact(contact)">
            X
          </button>
      </td>
    </tr>
  </table>



